*.exe
*.o
*.swp
*.vcxproj*
*.stackdump
.cproject
.fuse_hidden0001b5f600000001
.project
.settings
cmake_install.cmake
CMakeCache.txt
.vs/
CMakeFiles/
Debug/
example.src.strip
example1.src.strip
lex.yy.c
Makefile
myparser
myparser.dir/
myparser.exe
myparser.exe.stackdump
myparser.lex.c
myparser.output
myparser.tab.h
myparser.sln
myparser.VC.db
myparser.VC.VC.opendb
Release/
vim.exe.stackdump
Win32/
y.output
y.tab.c
y.tab.h
